@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

.Logo{
    width: 100px;
}

.Logo p{
    width: 100px;
    color: #000;
    font-size: 1.3rem;
    font-family: 'Suez One', serif;
    padding-left: 52px;
}

.Logo span{
    color: #0F90E5;
}
.Nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    transform: translateX(-5%);
    width: 100%;

}
nav {
    display: flex;
    flex-direction: row;
    /*margin-top: 3.8rem;*/
    /*padding-left: 20px;*/
    width: 100%;
    margin:20px;
}
nav li{
    margin-left: 70px;
    text-decoration: none;
    color: #000000;
    list-style: none;
    font-size: 1.2rem;
}
nav li a{
    text-decoration: none;
    color: #000000;
    font-size: 1.1rem;
    position: relative;
    font-weight: bold;
}
nav li a:hover{
    color: rgb(0, 2, 114);

}

nav li a::after{
    content: ' ';
    position:absolute;
    top: 25px;
    left: 50%;
    width: 0%;
    height: 2px;
    background: rgb(34, 40, 49);
    transition: 0.4s ease-in-out;
}
nav li a:hover::after{
    left: 0;
    width: 100%;
}
.Talkmi{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    position: absolute;
    right:0;
    color: #FFFFFF;
    background-color:#0F90E5;
    border-radius: 17px;
    border: none !important;
    padding: 10px 35px;
    font-family: 'Comfortaa', cursive;
    font-size: 1.2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 5px 5px 5px #C6DDEC;
    cursor: pointer;
}
.Talkmi:hover{
    background-color: #000272;
    color: #3f51f1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 5px 5px 5px #C6DDEC;
}